<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <% if (locals.usuario.role == 9) { %>  
        <h2 style="color: red;">Esta seguro de ELIMINAR la película:</h2>
        <h1> <%= Movie.title %></h1>
        <p>
            </form>
                <form action="/movies/delete/<%= Movie.id %>?_method=PUT" method="POST">
                <button type="submit">Eliminar la Película</button>            
                <span><a href="/">volver a la lista</a></span>
            </form>
        </p>
    <% }else{%>
        <h1>SOLO PUEDE ELIMINAR PELICULAS CON ROL DE ADMINISTRADOR...</h1>
        <a href="/">volver a la lista</a>
    <%}%>
</body>

</html>